external_config_version = 'main'
includeConfig "https://raw.githubusercontent.com/lehtiolab/static-resources/${external_config_version}/nf-configs/lehtio.config"

params {
  batchsize = 1
}

process {
  cpus = 10
  
  withName: predictFastaLibrary {
    // Either 200 * lib size, or 16GB whatever is bigger
    memory = { max(fasta.collect { it.size() }.sum() * 200, 16 << 30) * 1.B }
  }

  withName: searchWithPredictedLib {
    time = { raws.size() * 3.h }
    // biggest raw times 4, or 16.GB
    memory = { max(max(raws.collect { it.size() }) * 4, 16 << 30) * 1.B }
  }

  withName: combineEmpiricalLibraryRuns  {
    memory = { max(max(raws.collect { it.size() }) * 2, 16 << 30) * 1.B }
  }

  withName: RunDiaAnalysis {
    // biggest raw times 4, or 16.GB
    memory = { max(max(raws.collect { it.size() }) * 4, 16 << 30) * 1.B }
  }

  withName: TrainQuantUMS {
    memory = { max(max(raws.collect { it.size() }) * 2, 16 << 30) * 1.B }
  }

  withName: DiaQuantificationReport {
    memory = { max(max(raws.collect { it.size() }) * 2, 16 << 30) * 1.B }
  }

  withName: logConcat {
    cpus = 1
  }
}
