params {
  gtf = "${data_file_path}/VarDB.gtf"
  snpfa = "${data_file_path}/MSCanProVar_ensemblV79.filtered.fasta"
  dbsnp = "${data_file_path}/snp142CodingDbSnp.txt"
  cosmic = "${data_file_path}/CosmicMutantExport.tsv"
  genome = "${data_file_path}/hg19.chr1-22.X.Y.M.fa.masked"
  blastdb = "${data_file_path}/UniProteome+Ensembl87+refseq+GENCODE24.proteins.fasta"
  tdb = "${data_file_path}/VarDB.fasta"

  novheaders = '^chr;^decoy_chr'
  varheaders = false
  knownheaders = 'ENSP;ENSMUSP;sp;tr;decoy_ENSP;decoy_ENSMUSP;decoy_sp;decoy_tr'
  strips = ['3-10': [intercept: 3.5478, fr_width: 0.0676, tolerance: 0.11, fr_amount: 72, reverse: false],
            '3.7-4.9': [intercept: 3.5959, fr_width: 0.0174, tolerance: 0.08, fr_amount: 72, reverse: false],
            '11-6': [intercept: 10.3936, fr_width: -0.0762, tolerance: 0.11, fr_amount: 60, reverse: true],
            '6-9': [intercept: 6.1159, fr_width: 0.0336, pi_tolerance: 0.11, fr_amount: 72, reverse: false],
            '3.4-4.8': ['1-21': [intercept: 3.4395, fr_width: 0.0221, tolerance: 0.08, fr_amount: 21, reverse: false],
                        '22-64': [intercept: 3.6374, fr_width: 0.0128, tolerance: 0.08, fr_amount: 43, reverse: false],
                        '65-72': [intercept: 1.7364, fr_width: 0.0424, tolerance: 0.08, fr_amount: 8, reverse: false],
             ],
  ]

  annovar_dir = "${bigdata_file_path}/annovar"
  bigwigs = "${bigdata_file_path}/bigwigs_6ftv1_hirief"
}


process {

  // iPAW
  withName: makeTargetSeqLookup {
    scratch = true
  }
  withName: concatFasta {
    scratch = true
  }
  withName: filterPercolator {
    scratch = true
  }
  withName: labelnsSNP {
    scratch = true
  }
}
