executor {
  name = 'slurm'
}

docker {
  enabled = true
  fixOwnership = true
}

singularity {
  enabled = false
}
conda.enabled = false


// Kantele lib files
data_file_path = "/mnt/lehtio-rawstorage/storage/databases"

// For storing big stuff like reference data
bigdata_file_path = '/mnt/lehtio-rawstorage/reference'


process {
  withName: mzRefine {
    // network writes sometimes dont work?
    scratch = true
  }
  withName: msconvert {
    // network writes sometimes dont work?
    scratch = true
    time = 5.h
  }
//  withName: centroidMS1 {
//    // network writes sometimes dont work?
//    scratch = true
//  }
}
