external_config_version = 'main'

includeConfig "https://raw.githubusercontent.com/lehtiolab/static-resources/${external_config_version}/nf-configs/lehtio.config"

process {
  withName: runThermoFileparser {
    time = { (x.size() >> 30) > 0 ? 1.h * (x.size() >> 30) * task.attempt : 1.h * task.attempt}
    memory = { (x.size() >> 30) > 0 ? 16.GB * (x.size() >> 30) * task.attempt : 16.GB * task.attempt}
    scratch = true
  }

  withName: runMsconvert {
    time = { (x.size() >> 30) > 0 ? 1.h * (x.size() >> 30) * task.attempt : 1.h * task.attempt}
    memory = { (x.size() >> 30) > 0 ? 16.GB * (x.size() >> 30) * task.attempt : 16.GB * task.attempt}
    scratch = true
  }
}

workflow {
  output {
    mode = 'copy'
  }
}
