external_config_version = 'main'

includeConfig "https://raw.githubusercontent.com/lehtiolab/static-resources/${external_config_version}/nf-configs/lehtio.config"


process {
  withName: msgfPlus {
    maxForks = 20
    cpus = 4
    memory = { (db.size() >> 30) < 1 ? 16.GB : "${db.size() * 16}B"  }
    time = { (mzml.size() >> 30) < 1 ? 3.h * task.attempt : (3 + (mzml.size() >> 30)) * task.attempt * 1.h }
  }
  withName: mzRefine {
    scratch = true
  }
}

workflow {
  output {
    mode = 'copy'
  }
}
