params {
  project = "naiss2025-5-323"
  mzmltool = 'thermorawfileparser'
}

// Kantele lib files on dardel
data_file_path = '/cfs/klemming/projects/supr/snic2019-35-26/kantele_runs/storage/__kantele_library'

// For storing big stuff like reference data
bigdata_file_path = '/cfs/klemming/projects/supr/snic2019-35-26/kantele_runs/reference'

includeConfig "https://raw.githubusercontent.com/nf-core/configs/refs/heads/master/conf/pdc_kth.config"
