/* ENSEMBL file mapping for references */
params = {
  organism = null
  ensembl_release = null
}

if (params.organism && params.ensembl_release) {

  def file_organism_map = [
    mouse: 'Mus_musculus',
    human: 'Homo_sapiens',
  ]
  def file_organism = use_ensembl ? file_organism_map[params.organism] : false

  def grc_versions_map = [
    mouse: [
      101: 'm38',
      102: 'm38',
      103: 'm39',
      104: 'm39',
      105: 'm39',
      106: 'm39',
      107: 'm39',
      108: 'm39',
      109: 'm39',
      110: 'm39',
      111: 'm39',
      112: 'm39',
      113: 'm39',
      114: 'm39',
      115: 'm39',
    ],
    human: [
       75: 'h37',
      111: 'h38',
      112: 'h38',
      113: 'h38',
      114: 'h38',
      115: 'h38',
    ],
  ]
  def grc_version = use_ensembl ? grc_versions_map[params.organism][params.ensembl_release] : false

  // DBGen and identify
  params.refgtf = use_ensembl ? "${bigdata_file_path}/ensembl_ref/${file_organism}.GRC${grc_version}.${params.ensembl_release}.gtf" : false

  // DBGen
  params.genome = use_ensembl ? "${bigdata_file_path}/ensembl_ref/${file_organism}.GRC${grc_version}.dna_sm.primary_assembly.fa" : false
  
  // Identify
  params.canonical_peps = use_ensembl ? "${data_file_path}/ENS${params.ensembl_release}_${file_organism}.fa" : false
  
  // Prefix fromm canonical DB
  params.known_prefixes = use_ensembl ? [mouse: 'ENSMUSP', human: 'ENSP'][params.organism] : false
  params.crosscheck_known_prefixes = use_ensembl ? [mouse: 'ENSMUSP', human: 'ENSP'][params.organism] : false
}
