
process {
  clusterOptions = '--qos=qc'

  withName: DiaNN {
    time = 4.h
  }
}


// Set DB, lib
// data_file_path is in the lehtio.conf file
params.db = "${data_file_path}/Uniprot_2024_06_Homo_sapiens_Swiss_canonical_isoforms.fa"
params.library = "${data_file_path}/libfile_207_UP202406_human_SP_caniso_2mod_oxcarb.speclib"
