
process {
  clusterOptions = '--qos=qc'

  withName: DiaNN {
    time = 4.h
    memory = 64.GB
  }
}


// Set DB, lib
// data_file_path is in the lehtio.conf file
params.db = "${data_file_path}/Uniprot_2024_06_Homo_sapiens_Swiss_canonical_isoforms.fa"
params.library = "${data_file_path}/libfile_212_uniprot_swiss_2025_01_Homo_sapiens_diaNN_1.9.2_oxcarba_2mods.parquet"
