external_config_version = 'main'

includeConfig "https://raw.githubusercontent.com/lehtiolab/static-resources/${external_config_version}/nf-configs/lehtio.config"

docker {
  enabled = false
}

singularity {
  enabled = true
  runOptions = "-B /mnt/lehtio-rawstorage/nxf_workdir"
}

def listify(it) {
  /* This function is useful when needing a list even when having a single item
  - Single items in channels get unpacked from a list
  - Processes expect lists. Even though it would be fine
  without a list, for single-item-lists any special characters are not escaped by NF
  in the script, which leads to errors. See:
  https://github.com/nextflow-io/nextflow/discussions/4240
  */
  return it instanceof java.util.List ? it : [it]
}

params.cachedir = "/mnt/lehtio-rawstorage/nxf_workdir/__spectronaut_cache"

// Always overbook half the node with cpus=16
// so we cannot run multiple processes on a single node.
// This is done because that is incompatible with license, program will crash
// memory may need some trying and tuning, depend on file size, batch size? 
process {
  withName: generateLibrary {
    cpus = 16
    memory = {listify(raws).size() > 2 ? 64.GB + 2.GB * raws.size() * task.attempt : 64.GB}
    time = {listify(raws).size() > 3 ? 1.h * raws.size() * task.attempt : 2.h * task.attempt}
  }

  withName: mergePsar {
   // depend on size but 30 libraries TIMS data took only 60GB
    cpus = 16
    memory = 100.GB
  }

  withName: searchDIA {
    cpus = 16
    memory = {listify(raws).size() > 2 ? 64.GB + 2.GB * raws.size() * task.attempt : 64.GB}
    time = {listify(raws).size() > 4 ? 0.25.h * raws.size() * task.attempt : 2.h * task.attempt}
  }

  withName: mergeSNE {
    cpus = 16
    memory = 72.GB
  }

  withName: quantReport {
    cpus = 16
    memory = 72.GB
  }
}

workflow {
  output {
    mode = 'copy'
  }
}
