params {
  cosmic = "${params.data_file_path}/CosmicMutantExport.tsv"
  dbsnp = "${params.data_file_path}/snp142CodingDbSnp.txt"
  snpfa = "${params.data_file_path}/MSCanProVar_ensemblV79.filtered.fasta"
  genome = "${params.data_file_path}/hg19.chr1-22.X.Y.M.fa.masked"
  gtf = "${params.data_file_path}/VarDB.gtf"
  blastdb = "${params.data_file_path}/UniProteome+Ensembl87+refseq+GENCODE24.proteins.fasta"
  tdb = "${params.data_file_path}/VarDB.fasta"

  novheaders = '^PGOHUM;^lnc;^decoy_PGOHUM;^decoy_lnc'
  varheaders = '^COSMIC;^CanProVar;^decoy_COSMIC;^decoy_CanProVar'

  bigdata_file_path = '/mnt/input'
  annovar_dir = "${params.bigdata_file_path}/data/annovar"
  bigwigs = "${params.bigdata_file_path}/bigwigs_6ftv1_hirief"
}
