params {
  cosmic = "${data_file_path}/CosmicMutantExport.tsv"
  dbsnp = "${data_file_path}/snp142CodingDbSnp.txt"
  snpfa = "${data_file_path}/MSCanProVar_ensemblV79.filtered.fasta"
  genome = "${data_file_path}/hg19.chr1-22.X.Y.M.fa.masked"
  gtf = "${data_file_path}/VarDB.gtf"
  blastdb = "${data_file_path}/UniProteome+Ensembl87+refseq+GENCODE24.proteins.fasta"
  tdb = "${data_file_path}/VarDB.fasta"

  knownheaders = 'ENSP;ENSMUSP;sp;tr;decoy_ENSP;decoy_ENSMUSP;decoy_sp;decoy_tr'
  novheaders = '^PGOHUM;^lnc;^decoy_PGOHUM;^decoy_lnc'
  varheaders = '^COSMIC;^CanProVar;^decoy_COSMIC;^decoy_CanProVar'

  annovar_dir = "${bigdata_file_path}/annovar"
  bigwigs = "${bigdata_file_path}/bigwigs_6ftv1_hirief"
}
